{:paths ["src" "resources"]
 :deps {ragtime/ragtime {:mvn/version "0.8.0"}
        com.layerware/hugsql {:mvn/version"0.5.1"}
        org.xerial/sqlite-jdbc {:mvn/version "3.34.0"}
        cljfx/cljfx {:mvn/version "1.7.13"}}}
