{:paths ["src" "resources"]
 :deps {;; database
        ragtime/ragtime {:mvn/version "0.8.0"}
        com.layerware/hugsql {:mvn/version"0.5.1"}
        org.postgresql/postgresql {:mvn/version "42.2.18"}
        hikari-cp/hikari-cp {:mvn/version "2.13.0"}

        ;; di
        integrant/integrant {:mvn/version "0.8.0"}
        integrant/repl {:mvn/version "0.3.2"}

        ;; transport
        clj-http/clj-http {:mvn/version "3.12.1"}

        ;; time
        clojure.java-time/clojure.java-time {:mvn/version "0.3.2"}

        ;; ui
        cljfx/cljfx {:mvn/version "1.7.13"}}}
