{:up ["CREATE TABLE IF NOT EXISTS transactions (
	id SERIAL PRIMARY KEY,
	buy_cur VARCHAR(16) NOT NULL,
	sell_cur VARCHAR(16) NOT NULL,
	fee_cur VARCHAR(16) NOT NULL,
	buy_units FLOAT(6) NOT NULL,
	sell_units FLOAT(6) NOT NULL,
	fee_units FLOAT(6) NOT NULL,
	tx_time TIMESTAMP,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP);"]
 :down ["DROP TABLE transactions;"]}
